{#
/**
 * MRLISTER TWIG TEMPLATE OVERVIEW
 * -------------------------------
 * EMULATES THE STANDARD ~ The "mrlister-field.html.twig" template emulates the
 * standard classy template at "core/themes/classy/templates/field/field.html.twig"
 * by using the same css classes and structure. It additionally goes a step further
 * by allowing the "list wrapper and items" html tags to be configured to vary from
 * the standard DIV tag to instead be a UL or OL or SPAN or many other tags the
 * user can configure for display.
 *
 * CSS CLASSES ~ MrLister specific CSS classes at play in template include:
 *      mrlister-intro      Identifies the intro text if present.
 *      mrlister-wrap       Identifies the list wrap element.
 *      mrlister-item       Identifies an item in the list.
 *      mrlister-items-#    The number of items within the list wrapper.
 *      mrlister-item-#     Which number the item is.
 *
 * TWIG VARIABLES ~ MrLister specific twig variables at play in template include:
 *      mrl_wrap_type       The html element for the list wrapper.
 *      mrl_item_type       The html element for the list items.
 *      mrl_intro_type      The html element for the intro text.
 *      mrl_intro_place     Place the intro "inside" or "outside" the wrap?
 *      mrl_intro_text      The intro text itself.
 */
#}
{%
    set classes = [
    'field',
    'field--name-' ~ field_name|clean_class,
    'field--type-' ~ field_type|clean_class,
    'field--label-' ~ label_display,
]
%}
{%
    set title_classes = [
    'field__label',
    label_display == 'visually_hidden' ? 'visually-hidden',
]
%}
{% if not label_hidden %}
    <div{{ title_attributes.addClass(title_classes) }}>{{ label }}</div>
{% endif %}

{% if mrl_intro_text and mrl_intro_place == 'outside_wrap' %}
    <{{ mrl_intro_type }} class="mrlister-intro">{{ mrl_intro_text }}</{{ mrl_intro_type }}>
{% endif %}

    <{{ mrl_wrap_type }}{{ attributes.addClass(classes, 'field__items') }}>

    {% if mrl_intro_text and mrl_intro_place == 'inside_wrap' %}
        <{{ mrl_intro_type }} class="mrlister-intro">{{ mrl_intro_text }}</{{ mrl_intro_type }}>
    {% endif %}

    {% if mrl_item_type == 'none' %}
        {% for item in items %}
            {{ item.content }}
        {% endfor %}
    {% else %}
        {% for item in items %}
            {% set delta = ( delta | default(0) ) + 1 %}
            <{{ mrl_item_type }}{{ item.attributes.addClass(['field__item', 'mrlister-item-' ~ delta]) }}>{{ item.content }}</{{ mrl_item_type }}>
        {% endfor %}
    {% endif %}

    </{{ mrl_wrap_type }}>


